<nav>
<div><a routerLink="instruction">Instructions</a></div>
<div><a routerLink="form">Login</a></div>

</nav>


<!-- <mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" routerLink="instruction">thumb_up</mat-icon>
      Instructions
      <a routerLink="instruction" ></a>

    </ng-template>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" routerLink="form">thumb_up</mat-icon>
      Login
      <a routerLink="form"></a>
    </ng-template>

  </mat-tab>
</mat-tab-group> -->
